.box {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

.post {
  display: block;
  max-width: 680px;

  h1 {
    margin-bottom: 32px;
  }

  p {
    margin-top: 2.14em;
    font-size: 20px;
    margin-bottom: -0.46em;
    letter-spacing: -0.003em;
  }
}