.box {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

.textBox {
  display: block;
  max-width: 680px;
}

.mainImageBox {
  margin-top: 2.0em;
}

.imageBox {
  position: relative;
  width: 100%;
}

.image {
  position: relative !important;
}