.box {
  /* border-bottom: 1px solid #ddd; */
}

.logoBox {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.menuBox {
  /* border-top: 1px solid #ddd; */
  display: flex;
  justify-content: center;
  background-color: #000000;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.menuItem {
  font-size: 1.0em;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  text-align: center;

  &:hover {
    border-color: white;
  }
}


@media(min-width: 600px) { 
  .menu {
    flex-direction: row;
  }
  .menuItem {

  font-size: 1.25em;
    & + & {
      margin-left: 1em;
    }
  }
}

.menuItemIsActive {
  border-color: white;
}

.link {
  display: block;
  padding: 0.5em 1em;
  height: 100%;
  color: #ffffff;
  text-transform: uppercase;
}