.box {
  /* border-bottom: 1px solid #ddd; */
}

.logoBox {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.menuBox {
  /* border-top: 1px solid #ddd; */
  display: flex;
  justify-content: center;
  background-color: #000000;
}

.menu {
  list-style: none;
  display: flex;
}

.menuItem {
  font-size: 1.25em;
  border-bottom: 2px solid transparent;
  cursor: pointer;

  & + & {
    margin-left: 1em;
  }

  &:hover {
    border-color: white;
  }
}

.menuItemIsActive {
  border-color: white;
}

.link {
  display: block;
  padding: 0.5em 1em;
  height: 100%;
  color: #ffffff;
  text-transform: uppercase;
}